.game-board-container {
    text-align: center;
    height: 600px;
    font-family: helvetica, sans-serif;
}

#word-board {
    margin-top: 50px;
    font-size: 50px;
}

.guesses {
    margin: 20px;
}

.guesses, #message, .letter {
    font-size: 20px;
}

#letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    align-items: center;
    margin: 0 auto;
}

.letter {
    padding: 10px;
    cursor: pointer;
    font-size: 30px;
}

.nuke {
    background-image: url(../200.gif);
    background-size: cover;
}

.happy-easter {
    display: none;
}